{% for job in jobs|sort(attribute='name') %}
- project:
    name: {{job.name}}
    git_url: https://github.com/scibian/{{job.name}}.git
    distros:
    {%- for distro in job.distros %}
        - {{distro.escaped_name}}:
            scibian_codename: {{distro.name}}
            debian_codename: {{distro.debname}}
            scibian_repo: {{distro.repo}}
            scibian_label: {{distro.label}}
            scibian_version: {{distro.version}}
            git_branch: {{distro.branch}}
            archs: !!python/tuple [{{distro.archs}}]
    {% endfor -%}
    jobs:
        - 'src-{distros}-{name}'
        - 'bin-{distros}-{name}'
{% endfor %}
