<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="">
    <meta name="viewport" content="">
    <meta name="description" content="">
    <meta name="author" content="Scibian Project">

    <title>Scibian Packages Updates</title>

    <link rel="stylesheet" href="media/css/pure-min.css">
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="/media/css/layouts/side-menu-old-ie.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="media/css/layouts/side-menu.css">
    <!--<![endif]-->
    <link rel="alternate" type="application/rss+xml"
          title="RSS Feed for Scibian Packages Updates"
          href="/updates.rss" />
</head>
<body>
    <div id="layout">
        <div id="main">
            <div class="header">
                <h1>Scibian Packages Updates</h1>
                <a href="/updates.rss">
                  RSS 2.0 <img src="/media/images/icons/atom.png">
                </a>
            </div>
            <div class="content">
                <p><a href='/'>Back to scibian website</a></p>
{% for entry in entries|sort(attribute='date',reverse=true) %}
                <h2 id='{{entry.hash}}'>{{entry.release}}: <a href="{{entry.link}}">{{entry.srcpkg}}</a> {{entry.version}}</h2>
                <p>Date: {{entry.daterfc822}}<br />
                Repository: {{entry.repo}}<br />
{% if entry.changes: %}
                Changes:<br />
                  <pre style="padding-left:2em;">{{entry.changes}}</pre>
{% endif %}
{% if entry.binpkgs: %}
                Updated packages:
                  <ul>
{% for binpkg in entry.binpkgs %}
                    <li>{{binpkg}}</li>
{% endfor %}
                  </ul>
{% endif %}
                </p>
{% endfor %}
            </div>
        </div>
    </div>
    <!-- Javascript at the bottom for fast page loading -->
    <script src="media/js/ui.js"></script>
</body>
</html>
